obj
bin
test-results
 
_UpgradeReport_Files
UpgradeLog.*
 
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user
*.pidb
*.swp
*.DS_Store
*.nib
*.pfx
*.zip

Chapter-4/.vs/Chapter-4/xs/UserPrefs.xml
